.signup{
    background: linear-gradient(to bottom , rgba(0,4,17,0.5), rgba(0,0,0,5)), 
    url('../../../img/bg.jpg') no-repeat center center/cover;
    height: 100vh;
    overflow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signup-text{
    display: flex;
    height: 15%;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.signup-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    background: var(--color-white);
    padding: 2rem 2.5rem;
    border-top-left-radius: 2rem;
}

/* .signup-content form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

} */

.signup-content form .input{
    padding: 0.6rem 1.5rem;
    margin-bottom: 0.6rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
}

.signup-content .btn{
    margin-top: 1.5rem;
    background: var(--rich-black);
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 400;
}
.cta{
    text-align: center;
}
.cta-text{
    font-size: 1rem;
    color: var(--rich-black);
    font-weight: 600;
}
.cta-text span{
    cursor: pointer;
    transition:all 0.2s ease;
}
.cta-text span:hover{
    border-bottom: 0.1rem solid var(--rich-black);
}
